{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title%}{{ object.name }}{% endblock title %}
{% block content %}
  <h1>{{ object.name }}</h1>
  {% if object.website %}
    <p class="pb-2"><a href="{{ object.website }}" target="_blank">{{ object.website }}</a></p>
  {% endif %}
  <p>{{ object.description }}</p>
  <p class="mt-5"><a href="{% url 'aircrafts:manufacturer_update' object.pk %}" class="btn btn-secondary">Edit manufacturer</a></p>
  <p><a href="{% url 'aircrafts:manufacturers' %}" class="btn btn-warning">All manufacturers</a></p>
{% endblock content %}


