{% extends "base.html" %}
{% load i18n %}
{% block title %}Robots{% endblock title %}

{% block content %}

<div class="container">
  <div class="d-grid">
    {% if request.user.is_superuser %}
      <p><a href="#" class="btn btn-outline-primary col-sm-3" type="button">{% translate "Robots" %}</a></p>
      <p><a href="#" class="btn btn-outline-secondary col-sm-3" type="button">{% translate "Characters" %}</a></p>
      <p><a href="#" class="btn btn-outline-warning col-sm-3" type="button">{% translate "Versions" %}</a></p>
      <p><a href="#" class="btn btn-outline-success col-sm-3" type="button">{% translate "Categories" %}</a></p>
    {% else %}
      <p><a href="#" class="btn btn-outline-primary col-sm-3" type="button">{% translate "Robots" %}</a></p>
    {% endif %}
</div>

{% endblock content %}
